@font-face {
    font-family: "Formular";
    src: url('fonts/Formular-Light.ttf'),
    }

@font-face {
    font-family: "Formular-black";
    src: url('fonts/Formular-Black.ttf'),
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px black; */
}

body {
    display: block;
    justify-content: center;
    background-color: #E5E7EB;
}

.bgwhite {
    background-color: #F9FAFB;
}

.header{
    width: 100%;
    background-color: #F9FAFB;
    font-family: 'Formular';
    font-size: 16px;
}

.info-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    margin: 0px 150px;
}
.info-bar ul{
    display: flex;
    justify-content: space-around;
}


.info-bar-info{
    text-align: end;
    display: flex;
    justify-content:end;
}

.info-bar-price{
    margin-top: 5px;
}

.info-bar-number{
    font-size: 24px;

}

#line{
    width: 1px;
    height: 76px;
    background-color:#A78BFA ;
    margin: 0 13px;
}
.number-phone{
    font-family: 'Formular-black';
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 36px;
    font-style: bold; 
}

.content-one{
    display: flex;
    justify-content: space-between;
    background-color: #E5E7EB;
    padding-bottom: 30px;
}

.content-priem{
    margin-top: 3%;
    width: 100%;
    height: 500px;

}
.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 24px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    margin: 12px 150px;
}

.nav-bar ul a {
    text-decoration: none;
}

.nav-bar ul a li {
    list-style: none;
    margin-right: 20px;
}

.nav-bar-item {
    color: black;
}

.nav-bar-item:hover {
    color: #8B5CF6;
}

#nav-button {
    width: 196px;
    height: 44px;
    color: white;
    background-color: #8B5CF6;
    margin-right: 150px;
    margin-bottom: 24px;
    border-radius: 4px;
    border: none;
}

#calc {
    background-color: #F9FAFB;
}


.container {
    display: block;
    justify-content: space-between;
    margin: 0 150px;
}
#article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 100px;
    font-size: 20px;
    font-family: 'Formular';
    width: 49%;
    height: 540px;
}

#article h1{
    font-size: 32px;
    font-family: "Formular-black";
}

#article img{
    width: 100%;
}

#calc{
    border-radius: 16px;
    width: 49%;
    display: block;
    justify-content: center;
    height: 540px;
}


#calc form {
    margin: 0 auto;
    display: block;
    width: 65%;
}

.inpt{
    border-radius: 4px;
    border: solid 2px #111827;
    width: 48%;
    margin: 5px;
    padding: 12px;
}

#calc-name{
    border-radius: 4px;
    border: solid 2px #111827;
    width: 98%;
    margin: 5px;
    padding: 12px;
}
#calc-all {
    font-family: 'Formular';
    margin-top: 5px;
    display: block;
    justify-content: space-between;
}

#calc-all div {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#calc-button {
    width: 100%;
    height: 44px;
    border: none;
    background-color: #8B5CF6;
    color: #F9FAFB;
    margin-top: 30px;
}

.content-one{
    display: flex;
    width: 100%;
}

#header-content-priem{
    font-family: "Formular-black";
    font-size: 30px;
    text-align: center;
}

.content-priem{
    font-family: "Formular";
    
}

.advant{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 25px;
}
.advants-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advants-item{
    display: flex;
    margin-top: 50px;
}

.advants-text{
    padding: 20px;
    font-size: 14px;
    position: relative;
}

.advants-text h2{

    font-family: 'Formular-black';
    font-size: 24px;
}

#calc-h {
    font-family: 'Formular';
    margin: 28px auto;
    width: 60%;
    text-align: center;
}

#calc-h h2 {
    margin-bottom: 15px;
}


.footer{
    font-family: 'Formular';
    width: 100%;
    height: 234px;
    background-color: #111827;
}

.footer-navbar{
    display: flex;
    
    justify-content: space-between;
    color: white;
}
.footer-content{
    margin: 20px 150px;
    padding-top: 45px;
}

.footer-nav-item{
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.footer-nav{
    margin-top: 30px;
}
.footer-number{
    margin-top: 18px;
}
.footer-nav ul{
    
    font-family: 'Formular-black';
    font-size: 16px;
    display: flex;
    
}
.footer-nav a{
    text-decoration: none;
}
.footer-logo{
    font-size: 12px;
    display: block;
}

@media (max-width: 1536px) {
    .header{
        font-size: 12px;
    }
    .info-bar{
        width: 78.5%;
    }
    .nav-bar{
        width: 100%;
    }
    #nav-button{
        margin-right: 120px;
    }
    .info-bar-number{
        font-size: 20px;
    }
    .number-phone{
        font-size: 30px;
    }
    .container{
        width: 78.5%;
        justify-content: space-between;
    }
    .content-one{
        display: block;
    }
    #article{
        width: 100%;
        height: 232px;
        gap: 18px;
        display: flex;
        flex-direction:row;
    }
    #calc{
        width: 100%;
    }
    #article-text{
        display: flex;
        flex-direction: column;
    }
    #article-text p{
        margin-top: 10px;
    }
    #article img{
        height: 232px;
    }

    #calc{
        padding-top: 10px;
        margin-top: 30px;
    }
}   